# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore environment folders
env/

# Ignore data files
data/*.csv

# Ignore log files
*.log

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore other temporary files
*.swp
.DS_Store